@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.main-uploader .ant-upload-select {
  width: 100% !important;
}

.main-uploader .ant-upload-list-text {
  display: none !important;
}

.main-uploader .ant-upload-btn {
  padding: 0 !important;
  border-radius: 16px;
  overflow: hidden;
}